@model IEnumerable<InventoryApp.Models.Item>
@model InventoryApp.Core.ViewModels.ItemFormViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Search", "Items"))
{
    <div class="form-group">
        <div class="input-group">
            @Html.TextBoxFor(i => i.SearchTerm, new { @class = "form-control" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<ul class="items">
    @foreach (var item in Model)
    {
        //<li>@item.Description - @item.User.Name</li>
        <li>
            <div class="description">
                <span class="description">
                    <text>Description: </text>
                    @item.Description

                    @if (item.IsDeleted)
                    {
                        <span class="label label-warning">Deleted</span>
                    }
                </span>
                <span class="company">
                    <text>Company: </text>
                    @item.Company
                </span>
            </div>
            <div class="user">
                <span class="userName">
                    <text>User Name: </text>
                    @item.User.Name
                </span>
                <span class="email">
                    <text>User Email: </text>
                    @item.User.Email
                </span>
            </div>
            <div class="details">
                <!--TODO: display quantity and cost-->
                <span class="quantity">
                    <text>Quantity: </text>
                    @item.Quantity
                </span>
                <span class="cost">
                    <text>Cost: </text>
                    @item.Cost
                </span>
            </div>
        </li>
        }
</ul>